$dark-theme: "dark-theme"
$light-theme: "light-theme"

$img-bg-color: "img-bg-color"
$main-bg-color: "main-bg-color"


$themes: ( $light-theme: ( $img-bg-color: lightblue, $main-bg-color:#dceded, ), $dark-theme: ( $img-bg-color: gray,  $main-bg-color:#242424, ), )