.imcCard {
  display: inline-block;
  font-family: verdana, sans-serif;
  border: solid 2px #ddd;
  box-shadow: 0 5px 5px #ddd;
  border-radius: 30px;
  width: 200px;
  margin: 10px;
  padding: 10px;
}

p span {
  cursor: pointer;
}
