#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  &.react:hover {
    filter: drop-shadow(0 0 1em #00d9fa) contrast(100%) brightness(200%);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(3) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media screen and (min-width: 320px) {
  #root {
    padding-top: 50%;
    width: 100vw;
  }
}

@media screen and (min-width: 450px) {
  #root {
    padding-top: 40%;
    width: 100vw;
  }
}

@media screen and (min-width: 680px) {
  #root {
    width: 75vw;
    padding-top: 30%;
  }
}

@media screen and (min-width: 1280px) {
  #root {
    width: 50vw;
    padding-top: 10%;
  }

  body {
    background-size: 50%;
    background-repeat: repeat-x;
  }
}
