.home{
    width: 100;
}

.products_grid_container{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    height: fit-content;
    min-height: 20rem /* 320px */;
    column-gap: 2rem /* 32px */;
    row-gap: 1.25rem /* 20px */;
}

@media (min-width: 640px) {
    .products_grid_container {
        width: fit-content;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .products_grid_container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .products_grid_container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 1536px) {
    .home {
        max-width: 1280px;
    }

    .products_grid_container{
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 2rem /* 32px */;
    }
}